body {
    background-color: bisque;
}

h1 {
    background-color: blueviolet;
    color: burlywood;
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color: navy;
    font-family: "Source Coed Pro", Menlo, Monaco, fixed-width;
}

p {
    font-family: Open Sans;
    background-color: oldlace;
    color: black;
}

.second_article {
    background-color: blue;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

img {
    border-radius: 50px;
    width: 500px;
    height: auto;
    margin-left: 50px;
    border-color: cornflowerblue;
    border-width: 5px;
    border-style: solid;
}